.container-footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    padding: 25px 0;

    p {
        margin: 0;
        font-family: 'Quicksand',
            sans-serif;
        padding: 2px 0;

    }

    &.light-theme {
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
        color: #000000;
    }

    &.dark-theme {
        color: #f1f1f1;
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: #000000;

        .card {
            background-color: #000000;
            border: 1px solid grey;
        }

        .body-card {
            background-color: grey;
            color: black;
            border-radius: 5px;
        }

        a {
            color: #000000;
        }

    }



}