<div class="container-datails">
            <div class="card">
            <img [src]="character.images.main" [alt]="character.name">
            <h2>Name: {{character.name.first}} {{character.name.middle}} {{character.name.last}}</h2>
            <h3>Gender: {{character.gender}}</h3>
            <h3>Species: {{character.species}}</h3>
            <h3>Planet: {{character.homePlanet}}</h3>
            <h3>Occupation: {{character.occupation}}</h3>
            <h3>Age: {{character.age}}</h3>
            <h4>Sayings:</h4>
            <p>{{character.sayings}}</p>
            </div>
        
    
</div>

