.container-card {
    display: flex;
    text-align: center;
    z-index: 0;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 80px;
    justify-content: space-evenly;
    padding: 25px 0;


    .card {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        justify-content: space-between;
    }

    h2 {
        font-family: 'Quicksand',
            sans-serif;
    }

    h3 {
        padding: 0 5px;
        font-family: 'Quicksand',
            sans-serif;
        font-weight: bold;
        text-decoration: underline;

    }

    p {
        padding: 0 10%;
        font-family: 'Quicksand',
            sans-serif;
    }


    h4 {
        margin: 0;
        padding: 3px 0;
        font-family: 'Quicksand',
            sans-serif;
    }

    &.light-theme {
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
        color: #000000;

    }

    &.dark-theme {
        color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: #000000;

        .card-body {
            background-color: grey;
            color: black;
        }

        .card {
            background-color: black;
            border: 1px solid grey;
        }

        .container-card {
            background-color: #000000;
        }
    }



}