<div class=container-gallery [ngClass]="className === 'light' ? 'dark-theme' : 'light-theme'">
    <div *ngFor="let item of characters" class=container-card>
        <div [routerLink]="item | link" class="card">
            <img   src={{item.images.main}} [alt]="item.name.first">
            <div class="card-body">
                <h2>Name: {{item.name.first}} {{item.name.middle}} {{item.name.last}} </h2>
                <h4>Gender: {{item.gender}}</h4>
                <h4>Species: {{item.species}}</h4>
                <h4>Planet: {{item.homePlanet}}</h4>
                <h4>Occupation: {{item.occupation}}</h4>
                <h4>Age: {{item.age}}</h4>
            </div>
        </div>
    </div>
</div>
